.WeatherInfo{
  border: 1px solid black;
}

.WeatherHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.WeatherHeader-Left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.WeatherHeader-Right{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#feels-like{
  position: relative;
  display: contents;
  top: 25px;
}

#current-temp{
  font-size: 3rem;
  display: contents;
}